<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdF-mLJ6Ztz38pESQEvfgTsKYflsgbDT8</string>
	<key>GCM_SENDER_ID</key>
	<string>906191698637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselog</string>
	<key>PROJECT_ID</key>
	<string>firelog-a5a41</string>
	<key>STORAGE_BUCKET</key>
	<string>firelog-a5a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906191698637:ios:d66e56f0967d597b3e8784</string>
	<key>DATABASE_URL</key>
	<string>https://firelog-a5a41-default-rtdb.firebaseio.com</string>
</dict>
</plist>